.users {
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    background: #eee;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
}

.users ul{
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}