.button {
  cursor: pointer;
  background-color: brown;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 16px;
  border: brown;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.button:hover,
.button:active {
  background-color: darkred;
}
