.addMoview {
    width: 50%;
    margin: 8px auto;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 16px;
    width: 100%;
}

.control label {
    font-size: 14px;
    font-weight: bold;
}

.control input, .control textarea {
    padding: 10px;
    margin-top: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
}